<div class="body-container">

<input 
    type="text" 
    class="todo-input" 
    placeholder="What needs to be done" 
    [(ngModel)]="todoTitle"
    (keyup.enter)="addTodo()"
>

<div class='todo-item' *ngFor='let todo of todosFiltered()'>

    <!-- <div class='todo-item-left'> -->
        

        <input type='checkbox' [(ngModel)]="todo.completed">


        <div 
        *ngIf="!todo.editing; else editingTodo" 
        class='todo-item-label' 
        (dblclick)="editTodo(todo)"
        [ngClass]="{ 'completed' : todo.completed }"
        >
            {{ todo.title }}
        </div>
        <ng-template #editingTodo>
            <input 
            type="text" 
            class='todo-item-edit' 
            [(ngModel)]="todo.title" 
            (blur)="doneEdit(todo)"
            (keyup.enter)="doneEdit(todo)"
            (keyup.esc)="cancelEdit(todo)" 
            autofocus>
        </ng-template>
    <!-- </div> -->
    <!-- <div class="inner" (click)="deleteTodo(todo.id)"></div> -->
        <div id="mdiv" (click)="deleteTodo(todo.id)">
            <div class="mdiv">
                <div class="md"></div>
            </div>
        </div>
</div>

<div class="extra-container">
    <div class="check-all">
            <input type="checkbox" (change)="checkAllTodos()"> 
            <div>Check All</div>
    </div>
    <div>
        {{ remaining() }} items left
    </div>
</div>

<div class="extra-container">
    <div class="button-container">
        <button [ngClass]="{'active': filter === 'all'}" (click)="filter='all'">All</button>
        <button [ngClass]="{'active': filter === 'active'}" (click)="filter='active'">Active</button>
        <button [ngClass]="{'active': filter === 'completed'}" (click)="filter='completed'">Completed</button>
    </div>
    
</div>
<div class="extra-container" *ngIf="atLeastOneCompleted()">
    <button (click)="clearCompleted()">Clear Completed</button>
</div>
</div>
